node_modules/
dist/
*.js.map
.pncli/
.env
*.local

# Astro site
site/.astro/
site/src/content/changelog/

# Azure Function
functions/feedback/bin/
functions/feedback/obj/
functions/feedback/local.settings.json
