---
import { Image } from 'astro:assets';
import logo from '../assets/logo-transparent.png';
---

<nav class="w-full px-6 py-5 flex items-center justify-center border-b border-ink/10">
  <a href="/pncli/" class="flex items-center no-underline">
    <Image src={logo} alt="pncli" width={400} class="h-32 w-auto" />
  </a>
</nav>
